@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i');
@import url('https://rsms.me/inter/inter-ui.css');

html {
  height: 100% !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  overflow-x: hidden;
  padding-bottom: 15px;
} 


.user-image {
  width: 100px;
  position: relative;
  height: 100px;
  -o-object-fit: cover;
  border: 1px dashed #d9d9d9;
  object-fit: cover;
  cursor: pointer;
  transition: border-color 0.3s;
}
.user-image:hover {
  border-color: #1890ff;
}

.user-img-hover {
  position: absolute;
  line-height: 5;
  z-index: 1000;
}

.user {
  width: 80px;
}

.user:hover .user-img-hover {
  opacity: 1;
}

.user input[type="file"] {
  display: none;
}
